<body class="productpage_body">
	<main class="productmain">
		<div class="product_card">
			<div class="product_card__title">
				<div class="product_icon">
					<a href="/products"><i class="fa fa-arrow-left"></i></a>
				</div>
			</div>
			<div class="product_card__body">
				<div class="product_half">
					<div class="product_featured_text">
						<h1>Acer</h1>
						<p class="product_sub">Laptop</p>
						<p class="product_price">$799.99</p>
					</div>
					<div class="product_image">
						<img src="/images/acer.jpg" alt="">
					</div>
				</div>
				<div class="product_half">
					<div class="product_description">
						<p>Acer laptops offer good performance for their price, making them a great choice for everyday
							tasks like browsing the web, checking email, and working on documents.</p>
					</div>

				</div>
			</div>
			<div class="product_card__footer">
				<div class="productpage_action">
				</div>
			</div>
		</div>
	</main>
</body>