<body class="productpage_body">
    <main class="productmain">
        <div class="product_card">
            <div class="product_card__title">
                <div class="product_icon">
                    <a href="/products"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="product_card__body">
                <div class="product_half">
                    <div class="product_featured_text">
                        <h1>Apple Airpods</h1>
                        <p class="product_sub">Phone Accesories</p>
                        <p class="product_price">$199.99</p>
                    </div>
                    <div class="product_image">
                        <img src="/images/airpods.jpg" alt="">
                    </div>
                </div>
                <div class="product_half">
                    <div class="product_description">
                        <p>Apple AirPods are wireless Bluetooth earbuds that are designed to work seamlessly with Apple
                            devices. They are small, lightweight, and easy to use, and they offer a variety of features
                            that make them a great choice for listening to music, making calls, and getting directions.
                        </p>
                    </div>

                </div>
            </div>
            <div class="product_card__footer">
                <div class="productpage_action">

                </div>
            </div>
        </div>
    </main>
</body>