<center>
  <div class="card_title blue">WE WILL REPLY TO YOU SOON, THANK YOU FOR CONTACTING US</div>
  <video autoplay muted loop id="myVideo">
    <source src="/images/sunny.mp4" type="video/mp4">
  </video>
</center>