<body class="productpage_body">
    <main class="productmain">
        <div class="product_card">
            <div class="product_card__title">
                <div class="product_icon">
                    <a href="/products"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="product_card__body">
                <div class="product_half">
                    <div class="product_featured_text">
                        <h1>Dyson DC58</h1>
                        <p class="product_sub">Commercial Vacuum</p>
                        <p class="product_price">$2199.99</p>
                    </div>
                    <div class="product_image">
                        <img src="/images/dysondc58.jpg" alt="">
                    </div>
                </div>
                <div class="product_half">
                    <div class="product_description">
                        <p>The Dyson DC58 is a cordless handheld vacuum cleaner that is powered by the Dyson V6 digital motor. It has a 21.6-volt lithium-ion battery that provides up to 20 minutes of continuous cleaning time. The DC58 has a variety of attachments that make it ideal for cleaning a variety of surfaces, including floors, furniture, and stairs. It also has a HEPA filter that traps 99.97% of allergens and pollutants.</p>
                    </div>
    
                </div>
            </div>
            <div class="product_card__footer">
                <div class="productpage_action">
                </div>
            </div>
        </div>
    </main>
    </body>