
<body>
    <center>
        <div class="card_title blue">SUNNY ELECTRONICS</div>
        <br>
        <div class="card_title blue">"Thank you for shopping with us today! I hope you have a wonderful day."</div>

        <video autoplay muted loop id="myVideo">
            <source src="/images/sunny.mp4" type="video/mp4">
          </video>
    </center>
</body>