<body class="productpage_body">
    <main class="productmain">
        <div class="product_card">
            <div class="product_card__title">
                <div class="product_icon">
                    <a href="/products"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="product_card__body">
                <div class="product_half">
                    <div class="product_featured_text">
                        <h1>HP Desktop</h1>
                        <p class="product_sub">Desktop</p>
                        <p class="product_price">$999.99</p>
                    </div>
                    <div class="product_image">
                        <img src="/images/hpdesktop.jpg" alt="">
                    </div>
                </div>
                <div class="product_half">
                    <div class="product_description">
                        <p>HP desktops are a great choice for people who need a powerful computer for gaming, video
                            editing, or other demanding tasks. They are also a good option for businesses and schools
                            that need reliable computers for their employees and students.</p>
                    </div>

                </div>
            </div>
            <div class="product_card__footer">
                <div class="productpage_action">
                </div>
            </div>
        </div>
    </main>
</body>