<body class="productpage_body">
    <main class="productmain">
        <div class="product_card">
            <div class="product_card__title">
                <div class="product_icon">
                    <a href="/products"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="product_card__body">
                <div class="product_half">
                    <div class="product_featured_text">
                        <h1>Mac</h1>
                        <p class="product_sub">Laptop</p>
                        <p class="product_price">$1899.99</p>
                    </div>
                    <div class="product_image">
                        <img src="/images/mac.jpg" alt="">
                    </div>
                </div>
                <div class="product_half">
                    <div class="product_description">
                        <p>Apple offers a wide range of laptops to choose from, so you can find the perfect one for your needs. Whether you're looking for a powerful MacBook Pro or a lightweight MacBook Air, Apple has something for everyone.</p>
                    </div>
    
                </div>
            </div>
            <div class="product_card__footer">
                <div class="productpage_action">
                </div>
            </div>
        </div>
    </main>
    </body>