<body class="productpage_body">
    <main class="productmain">
        <div class="product_card">
            <div class="product_card__title">
                <div class="product_icon">
                    <a href="/products"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="product_card__body">
                <div class="product_half">
                    <div class="product_featured_text">
                        <h1>Samsung Powerbank</h1>
                        <p class="product_sub">Phone Accesories</p>
                        <p class="product_price">$99.99</p>
                    </div>
                    <div class="product_image">
                        <img src="/images/powerbank.jpg" alt="">
                    </div>
                </div>
                <div class="product_half">
                    <div class="product_description">
                        <p>A power bank is a portable charger that can be used to charge electronic devices such as
                            smartphones, tablets, and laptops. It is a battery-powered device that can be plugged into a
                            wall outlet to charge, and then used to charge other devices when they are not near a power
                            source.</p>
                    </div>

                </div>
            </div>
            <div class="product_card__footer">
                <div class="productpage_action">
                </div>
            </div>
        </div>
    </main>
</body>