<body class="productpage_body">
    <main class="productmain">
        <div class="product_card">
            <div class="product_card__title">
                <div class="product_icon">
                    <a href="/products"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="product_card__body">
                <div class="product_half">
                    <div class="product_featured_text">
                        <h1>Samsung S23</h1>
                        <p class="product_sub">Smart Phone</p>
                        <p class="product_price">$799.99</p>
                    </div>
                    <div class="product_image">
                        <img src="/images/samsungs23.jpg" alt="">
                    </div>
                </div>
                <div class="product_half">
                    <div class="product_description">
                        <p>The Galaxy S23 has a sleek and modern design with a flat display and a metal frame. It is available in three colors: Phantom Black, Phantom White, and Green. The phone is water-resistant and has a dustproof rating of IP68.</p>
                    </div>
    
                </div>
            </div>
            <div class="product_card__footer">
                <div class="productpage_action">
                </div>
            </div>
        </div>
    </main>
    </body>