<body class="productpage_body">
    <main class="productmain">
        <div class="product_card">
            <div class="product_card__title">
                <div class="product_icon">
                    <a href="/products"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="product_card__body">
                <div class="product_half">
                    <div class="product_featured_text">
                        <h1>Homebee Thermostat</h1>
                        <p class="product_sub">Home Device</p>
                        <p class="product_price">$1110.99</p>
                    </div>
                    <div class="product_image">
                        <img src="/images/thermostat.jpg" alt="">
                    </div>
                </div>
                <div class="product_half">
                    <div class="product_description">
                        <p>Homebee is a great choice for anyone looking to save energy and money on their heating and cooling bills. It is easy to use and has a variety of features that can help you control your home's temperature from anywhere.</p>
                    </div>
    
                </div>
            </div>
            <div class="product_card__footer">
                <div class="productpage_action">
                </div>
            </div>
        </div>
    </main>
    </body>