<body class="productpage_body">
    <main class="productmain">
        <div class="product_card">
            <div class="product_card__title">
                <div class="product_icon">
                    <a href="/products"><i class="fa fa-arrow-left"></i></a>
                </div>
            </div>
            <div class="product_card__body">
                <div class="product_half">
                    <div class="product_featured_text">
                        <h1>Tile Bluetooth Tracker</h1>
                        <p class="product_sub">Accessories</p>
                        <p class="product_price">$79.99</p>
                    </div>
                    <div class="product_image">
                        <img src="/images/tile.jpg" alt="Tile Image">
                    </div>
                </div>
                <div class="product_half">
                    <div class="product_description">
                        <p>Tile trackers are small, Bluetooth-enabled devices that can be attached to your keys, wallet, or other belongings. If you lose an item with a Tile tracker attached, you can use the Tile app to find it. The app will show you the last known location of the item, and you can also make it ring so you can find it by sound.</p>
                    </div>
    
                </div>
            </div>
            <div class="product_card__footer">
                <div class="productpage_action">
                </div>
            </div>
        </div>
    </main>
    </body>